.the-article {
	padding: 15px;
	height: calc(100% - 60px);
}
.the-article .main-block {
	margin-top: 15px;
	border-radius: 5px;
	height: calc(100% - 77px);
	background-color: #ffffff;
}
.the-article .main-block .table-block {
	padding: 15px;
	height: calc(100% - 123px);
}
.the-article .main-block .table-config {
	padding: 0 15px 15px;
}
.the-article .main-block .table-border {
	display: flex;
	padding-top: 15px;
	align-items: center;
	border-top: solid 1px #e4e7ed;
	justify-content: space-between;
}
.the-article .main-block .the-block {
	color: #666666;
	font-size: 14px;
}
.the-article .main-block .choose-num {
	color: #ff4475;
}
.the-article .main-block .edit-btn {
	color: #ff4475;
	cursor: pointer;
	margin-right: 30px;
}
.the-article .main-block .delete-btn {
	color: #999999;
	cursor: pointer;
}
.the-article .main-block .state-table{
	display: flex;
	align-items: center;
	justify-content: center;
}
.the-article .main-block .state-icon{
	width: 7px;
	height: 7px;
	display: block;
	margin-right: 15px;
	border-radius: 50%;
	background-color: #67c23a;
}
.the-article .main-block .state-err-icon{
	background-color: #999999;
}
.the-article .main-block .state-top-icon{
	background-color: #ff4475;
}
.the-article .thumbnail-upload{
	margin-top: 30px;
	height: 206px !important;
}
.the-article .thumbnail-upload p{
	margin-top: 15px !important;
}
.the-article .file-list{
	display: flex;
	flex-wrap: wrap;
}
